- name: Install dnf plugins
  dnf:
    name: dnf-plugins-core
    state: present

- name: Add Docker CE repo
  copy:
    dest: /etc/yum.repos.d/docker-ce.repo
    content: |
      [docker-ce-stable]
      name=Docker CE Stable - $basearch
      baseurl=https://download.docker.com/linux/fedora/$releasever/$basearch/stable
      enabled=1
      gpgcheck=1
      gpgkey=https://download.docker.com/linux/fedora/gpg

- name: Install Docker CE and plugins
  dnf:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present

- systemd:
    name: docker
    enabled: true
    state: started

- file:
    path: "{{ app_dir }}"
    state: directory
    mode: '0755'

- file:
    path: "{{ scripts_dir }}"
    state: directory
    mode: '0755'
